*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

html{
    font-size: 62.5%;
}

body{
  background-image: linear-gradient(to bottom right, rgb(0, 98, 255), rgb(0, 217, 255));
}

.header-area{
  margin-top: 5rem;
}

.header-area .c-nav li{
  font-size: 2.2rem;
  margin: 0 1.85rem 0 1.85rem;
}

.header-area .c-nav li a{
  color: #fff !important;
  font-weight: bolder;
}

.d-menu{
  background-image: linear-gradient(to bottom right, rgb(0, 98, 255), rgb(0, 217, 255));
}

.d-menu a{
  font-size: 2.2rem;
  
}

.title-area{
  background-image: linear-gradient(to right, orange, white);
  padding: 1.5rem 0;
}
.title-area h1{
  font-size: 5rem;
}
.title-area p{
  font-size: 2.2rem;
  color: rgb(255, 145, 0);
}

.img-bg{
  background-image: linear-gradient(to bottom right, rgb(255, 208, 0), white);
}

.side-images{
  margin-top: 5rem;
  display: flex;
}
.s-image img{
  height: 19.3rem;
}

.mid-left-bgcol{
  background-color: orange;
}

.mid-right-bgcol{
  background-color: #fff;
}

.l-list{
  height: 32vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.l-headings h1{
  color:#fff;
  font-size: 3rem;
}
.l-headings p{
  font-size: 1.5rem;
}

.l-list li{
  font-size: 2rem;
}

.r-heading h1{
  font-size: 4rem;
}

.r-list li{
  font-size: 2rem;
}
.r-list li span{
  color:rgb(255, 208, 0);
}

.r-buy-link h1 span{
  color:rgb(255, 208, 0);
}

.r-desc p{
  font-size: 2.2rem;
}

.copyright p{
  font-size: 2.2rem;
  color: #fff;
}


@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}
